<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="https://fonts.cdnfonts.com/css/cascadia-code" rel="stylesheet">
	<link rel="stylesheet" href="styles/home.css">
	<script type="text/javascript" src="scripts/jquery-3.6.2.js"></script>             
	<title>Home - PopulationZim</title>
</head>
<body>
	<div id="menu-bar">
		<a href="home.html">
			<img id="zim-flag" src="images/zim_menu_bar.jpg">
		</a> 
		<a href="https://github.com/tendaiwbm">
			<img id="github" src="images/github_menu_bar.png">
		</a>
		<a href="https://www.linkedin.com/in/tendai-mbwanda/">
			<img id="linkedin" src="images/linkedin_menu_bar.svg.png">
		</a>
	</div>
	<div id ="menu-bottom-spacing"></div>
	<div id="characteristics">
		<div id="geography">
			<span class="characteristic-label"><a id="link-to-geo" href="geo.html">Geography</a></span>
			<span class="characteristic-desc">Map view of demographics by geographic subdividion.</span>
		</div>
		<div id="distribution">
			<span class="characteristic-label">Distribution</span>
			<span class="characteristic-desc">Distribution of population &amp; density by sex, and households.</span>	
		</div>
		<div id="size-structure">
			<span class="characteristic-label">Size &amp; Structure</span>
			<span class="characteristic-desc">Number of males &amp; females and their age groups.</span>
		</div>
		<div id="migration">
			<span class="characteristic-label">Migration</span>
			<span class="characteristic-desc">Spatial mobility as inter-censal and lifetime migration.</span>
		</div>
		<div id="household">
			<span class="characteristic-label">Household</span>
			<span class="characteristic-desc">Household living arrangements.</span>
		</div>
		<div id="education">
			<span class="characteristic-label">Education</span>
			<span class="characteristic-desc">Persons' level and status of education.</span>
		</div>
		<div id="activity-labour">
			<span class="characteristic-label">Economic Activity</span>
			<span class="characteristic-desc">Number of economically active persons and their occupations.</span>
		</div>
		<div id="housing">
			<span class="characteristic-label">Housing</span>
			<span class="characteristic-desc">Type of dwelling, and access to water &amp; electricity.</span>
		</div>
		<div id="fertility">
			<span class="characteristic-label">Fertility &amp; Mortality</span>
			<span class="characteristic-desc">Rates of birth, fertility, death and infant mortality.</span>
		</div>
	</div>
	<script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>