<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=0.2"/>
	<link href="https://fonts.cdnfonts.com/css/cascadia-code" rel="stylesheet">
	<link rel="stylesheet" href="distro.css">
	<title></title>
</head>
<body>
	<h2>Filter Criteria</h2>
	<div id="filter-window">
		<div id="admin-level">
			<span id="admin-level-label">Admin Level</span>
			<span id="ward-level" class="admin-level">Ward</span>
			<span id="district-level" class="admin-level">District</span>
			<span id="province-level" class="admin-level">Province</span>
			<div id="province-enum"></div>
			<div id="district-enum"></div>
		</div>
		<div id="granularity">
			<span id="granularity-label">Spatial Granularity</span>
			<span id="ward" class="granularity">Ward</span>
			<span id="district" class="granularity">District</span>
			<span id="province" class="granularity">Province</span>
		</div>
		<div id="year">
			<span id="temporal-label">Year</span>
			<span id="t-2002" class="year">2002</span>
			<span id="t-2012" class="year">2012</span>
			<span id="t-2022" class="year">2022</span>
		</div>
		<div id="sex">
			<span id="sex-label">Sex</span>
			<span id="male" class="sex">M</span>
			<span id="female" class="sex">F</span>
		</div>
	</div>
	<div id="show">
		<span id="show-label">Apply</span>
	</div>
	<script type="text/javascript" src="distro.js"></script>
	<script type="text/javascript" src="filter_events.js"></script>
</body>
</html>